<div>
    <h1>Productos</h1>
    {{#each response}}
        <div>
            <strong><a href="http://localhost:8080/products/{{_id}}">{{title}}</a></strong>
            <p>${{price}}</p>
        </div>
    {{/each}}
</div>
